.bottom {
    min-width: 1200px;
}

.bottom Adder {
    padding: 14px;
    background-color: #f7f7f7;
    text-align: center;
    border-bottom: 1px solid #e7e7e7;
}

.bottom BudgetArchive {
    width: 1000px;
    margin: 60px auto;
}